version: '3.8'

services:
  solid-connection-dev:
    image: ghcr.io/${OWNER_LOWERCASE}/solid-connection-dev:${IMAGE_TAG:-latest}
    container_name: solid-connection-dev
    network_mode: "host"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATA_REDIS_HOST=127.0.0.1
      - SPRING_DATA_REDIS_PORT=6379
    volumes:
      - ./logs:/var/log/spring
    restart: always
