services:
  mysql:
    image: mysql:8.0
    container_name: solid-connection-local-mysql
    environment:
      MYSQL_ROOT_PASSWORD: solid_connection_local_root_password
      MYSQL_DATABASE: solid_connection
      MYSQL_USER: solid_connection_local_username
      MYSQL_PASSWORD: solid_connection_local_password
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data_local:/var/lib/mysql
    networks:
      - solid-connection-local

  redis:
    image: redis:latest
    container_name: solid-connection-local-redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data_local:/data
    networks:
      - solid-connection-local

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    ports:
      - "12345:12345"   # Alloy 상태/디버그 UI
    volumes:
      - ./logs:/var/log/spring                 # 스프링 로컬 로그 → Alloy가 읽을 경로
      - ./config-local.alloy:/etc/alloy/config.alloy:ro
    environment:
      - ALLOY_ENV=local                        # 라벨로 들어감
    command: ["run", "/etc/alloy/config.alloy"]
    networks:
      - solid-connection-local

networks:
  solid-connection-local: