---
spring:
  config:
    activate:
      on-profile: prod

  jpa:
    hibernate:
      ddl-auto: none
    generate-ddl: false
    show-sql: false
    database: mysql
    defer-datasource-initialization: false

  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: false

---
spring:
  config:
    activate:
      on-profile: dev

  jpa:
    hibernate:
      ddl-auto: validate
    generate-ddl: false
    show-sql: false
    database: mysql
    defer-datasource-initialization: false

  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: false

---
spring:
  config:
    activate:
      on-profile: local

  jpa:
    hibernate:
      ddl-auto: create
    generate-ddl: true
    show-sql: true
    database: mysql
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver

  flyway:
    enabled: false
