spring:
  application:
    name: solid-connect-server

  config:
    import:
      - optional:classpath:/config/application-cloud.yml
      - optional:classpath:/config/application-db.yml
      - optional:classpath:/config/application-variable.yml
      - aws-parameterstore:/solid-connection/common/

  tomcat:
    threads:
      min-spare: 20 # default 10

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  mvc:
    path match:
      matching-strategy: ANT_PATH_MATCHER

management:
  endpoints:
    web:
      exposure:
        include: prometheus

---
spring:
  config:
    activate:
      on-profile: local
    import: aws-parameterstore:/solid-connection/local/

---
spring:
  config:
    activate:
      on-profile: dev
    import: aws-parameterstore:/solid-connection/dev/

---
spring:
  config:
    activate:
      on-profile: prod
    import: aws-parameterstore:/solid-connection/prod/

---
spring:
  config:
    activate:
      on-profile: loadtest
    import: aws-parameterstore:/solid-connection/loadtest/
