<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <property name="LOG_PATTERN"
    value="timestamp=%d{yyyy-MM-dd'T'HH:mm:ss,UTC} level=%-5level traceId=%X{traceId:-null} %msg%n"/>

  <!-- DEV + PROD 공통 -->
  <springProfile name="dev | prod">
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="INFO_FILE">
      <encoder>
        <pattern>${LOG_PATTERN}</pattern>
      </encoder>
      <file>${LOG_PATH}/info/info.log</file>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>INFO</level>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>DENY</onMismatch>
      </filter>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_PATH}/info/info.%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>7</maxHistory>
      </rollingPolicy>
    </appender>

    <!-- INFO -->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="WARN_FILE">
      <encoder>
        <pattern>${LOG_PATTERN}</pattern>
      </encoder>
      <file>${LOG_PATH}/warn/warn.log</file>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>WARN</level>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>DENY</onMismatch>
      </filter>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_PATH}/warn/warn.%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>7</maxHistory>
      </rollingPolicy>
    </appender>

    <!-- WARN -->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="ERROR_FILE">
      <encoder>
        <pattern>${LOG_PATTERN}</pattern>
      </encoder>
      <file>${LOG_PATH}/error/error.log</file>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>ERROR</level>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>DENY</onMismatch>
      </filter>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_PATH}/error/error.%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>7</maxHistory>
      </rollingPolicy>
    </appender>

    <!-- ERROR -->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="API_PERF">
      <encoder>
        <pattern>${LOG_PATTERN}</pattern>
      </encoder>
      <file>${LOG_PATH}/api-perf/api-perf.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_PATH}/api-perf/api-perf.%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>7</maxHistory>
      </rollingPolicy>
    </appender>

    <!-- API 성능 로그 -->
    <logger additivity="false" level="INFO" name="API_PERF">
      <appender-ref ref="API_PERF"/>
    </logger>

    <!-- API_PERF 전용 로거 -->
    <property name="LOG_PATH" value="/var/log/spring"/>

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="INFO_FILE"/>
      <appender-ref ref="WARN_FILE"/>
      <appender-ref ref="ERROR_FILE"/>
    </root>
  </springProfile>

  <!-- ================== -->
  <!-- 그 외 프로파일-->
  <!-- ================== -->
  <springProfile name="!dev &amp; !prod">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
</configuration>